body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #000000,
    #151024,
    rgb(4, 1, 23),
    rgb(2, 44, 67)
  );
  background-size: 400% 400%;
  animation: gradientBG 45s ease infinite;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("./assets/weatherbg.jpg");
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 50%;

  width: 150px;
}
.glass-card {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.066);
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.glass-cards {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.066);
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.glass-card:hover {
  transform: scale(1.05);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.weather-bg-low {
  background-image: url("./assets/weatherbg.jpg");
  background-size: "cover";
}

.weather-bg-moderate {
  background-image: url("./assets/weatherbg.jpg");
  background-size: "cover";
}

.weather-bg-high {
  background-image: url("./assets/weather-sunny.png");
  background-size: "cover";
}

.table_custom { --bs-table-bg: transparent !important; }

/* .table-hover tbody tr:hover td {
  background: #999;
} */
